.maincon, .maincon2{
    height: 500px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.cont1{
    display: inline-block;
    height: 450px;
    width: 300px;  
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    
}

.cont1 img{
    position: relative;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: auto;
    width: 90%;
}

.cont2{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;  
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
    padding-top: 5%;
    width: 55%;
}
button{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border-radius: 30px;
    padding: 10px;
    border: 3px solid aqua;
    margin-top: 10px;
}


.p1{
    font-size: 2em; 
    padding: 10px;
    color: lightblue;
}
@media screen and (min-width : 500px){
    .p2{
        font-size: clamp(1.2em, 3vw, 1.5em);
        padding: 10px;
        color: lightblue;
    
    }
}
@media screen and (max-width : 500px){
    .p2{
        font-size: clamp(1.1em, 5vw, 1.5em); /*changed*/
        padding-bottom: 0;
    }
}


@media screen and (max-width : 600px) {
    .cont1, .cont2{ width: 90%;}

}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.listitems, .listitems2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw; /* Spacing between the divs */

}

.listitems div, .listitems2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /*earlier there were width: 25%. because of that i had to change every thing according to the screen size. but after adding this in pixels when reduse the screen size the count of div elements are changing according to the screen size*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    border-radius: 8px; 
    background-color: darkblue; 
}

.listitems label, .listitems2 label {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: lightblue;
    padding-bottom: 20px;
}

.listitems img, .listitems2 img{
    width: 150px;
    height: auto;
    border-radius: 5px;
    height: 220px; 
}

@media screen and (max-width: 600px) {
    .listitems div, .listitems2 div {
        max-width: 130px;/* changes this also -->width: 35% ; /* 2 divs per row */
        
    }
    .listitems label, .listitems2 label {
        font-size: clamp(1.1em, 3vw, 1.5em);
        letter-spacing: -1px;
    }
    .listitems img, .listitems2 img{
        width: 125px; /*width: 60vw; changed this also*/
    }
}

.item.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding : 100%;
    background: transparent;
    backdrop-filter: blur(20px);
  }

  body.blur .item:not(.active) {
    filter: blur(5px);
  } 
.cont2 button{
    margin-bottom: 10px;
}

.listitems2{
    padding: clamp(10px, 9vw, 160px);
}
@media screen and (max-width: 600px) {
    .listitems2{
        width: 100vw;
        margin: 0;
        padding: 0;
        box-sizing: border-box;/*if transform: translateX(-7px); added here code will become a mess. instead we can add it to child element*/
    }
    .listitems2 div{
        transform: translateX(-8px);
    }
    .bookh{
        padding-bottom: 30px;
    }
}
.bookh{
    max-width: fit-content;
    color: lightblue;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

#btitle{
    color: lightblue;
}