*{
    font-family: cursive;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbar li{
    padding: 10px;
   
}
.navbar a:hover{
    color: rgb(0, 119, 255);
}
.navbar a{
    text-decoration: none;
    color: #06dffc ;
    font-size: 1.5em;
}
.container{
    background-color: rgb(92, 92, 186);   
    border: 3px solid #06dffc;
    padding: 0;
    
}
@media screen and (max-width : 600px) {
    #nav1{
        display: none;
    }
}
@media screen and (min-width : 600px) {
    #nav2{
        display: none;
    }
}
.con1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(92, 92, 186);
}

.con1:hover{
    box-shadow: 0px 0px 100px rgb(92, 92, 186);
}
#horrorcontainer, #mysterycontainer{
    display: flex;
    padding-top: 20px;
    overflow: scroll;

}
.horror, .mystery{
    background-color: aqua;
    border-radius: 10px;
    padding: 15px;
    width: 380px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgb(92, 92, 186);
}
iframe{
    padding: 15px;
    width: 350px;
    box-shadow: 0px 0px 10px rgb(92, 92, 186);
}
iframe:hover{
    box-shadow: 0px 0px 50px rgb(92, 92, 186);
}
body{
    background-image: url("images/background.jpg");
    background-size: cover;
}
h2{
    color: red;
    text-shadow: 1px 1px 5px rgb(101, 29, 29);
}
#titles{
    width: 100px;
    height: 30px;
}
@media screen and (max-width: 600px){
    .horror, .mystery{
        background-color: aqua;
        border-radius: 10px;
        padding: 15px;
        width: 280px;
        margin-left: 20px;
        box-shadow: 0px 0px 10px rgb(92, 92, 186);
    }
    iframe{
        padding: 15px;
        width: 250px;
        box-shadow: 0px 0px 10px rgb(92, 92, 186);
    }
}
