*{
    margin: 0;
    font-size: 1.04em;
   
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.navbar li{
    padding: 10px;
   
}
.navbar a:hover{
    color: rgb(0, 119, 255);
}
.navbar a{
    text-decoration: none;
    color: #06dffc ;
    font-size: 1.5em;
}
.container{
    background-color: darkblue;   
    border: 3px solid #06dffc;
    padding: 0;
    
}
@media screen and (max-width : 600px) {
    #nav1{
        display: none;
    }
}
@media screen and (min-width : 600px) {
    #nav2{
        display: none;
    }
}
.con1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.648);
    color: lightblue;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 50px;
    border-radius: 10px;
    border: 10px solid darkblue;
}

.con1:hover{
    border: 10px solid rgb(1, 1, 194);
}
#horrorcontainer, #mysterycontainer{
    display: flex;
    padding-top: 20px;
    overflow: scroll;
    scrollbar-width: none;

}
.horror, .mystery{
    background-color: rgba(0, 0, 0, 0.648);
    border-radius: 10px;
    color: lightblue;
    padding: 15px;
    width: 380px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px darkblue;
    border: 4px solid darkblue;
}
#moviecontainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s linear;
}

#moviecontainer.expanded {
    max-height: 1000px; /* You can adjust this value depending on the content */
  
}


iframe{
    padding: 15px;
    width: 350px;
    background-color: darkblue;
    box-shadow: 0px 0px 10px rgb(29, 29, 112);
}

body{
    background-color: black;
}
h2{
    color: aqua;
    padding: 20px;
    padding-top: 40px;
    text-shadow: 1px 1px 5px rgb(101, 29, 29);
    font-size: 1.2em;
}
#titles{
    width: 120px;
    height: 30px;
    color: lightblue;
    background-color: darkblue;
}
@media screen and (max-width: 600px){
    .horror, .mystery{
        background-color: rgba(0, 0, 0, 0.648);
        color: lightblue;
        border-radius: 10px;
        padding: 15px;
        width: 280px;
        margin-left: 20px;
        box-shadow: 0px 0px 10px darkblue;
        border: 4px solid darkblue;
    }
    iframe{
        padding: 15px;
        background-color: darkblue;
        width: 250px;    
    }
}
.maincon{
    height: 500px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.cont1{
    display: inline-block;
    height: 450px;
    width: 300px;  
    margin-left: auto; 
    margin-right: auto;
    width: 30%;
    
}

.cont1 img{
    position: relative;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: auto;
    width: 90%;
}

.cont2{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;  
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    width: 55%;
}
.btn{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.p1{
    font-size: 2em; 
    padding: 10px;
    color: lightblue;
}
.p2{
    font-size: 1.5em; 
    padding: 10px;
    color: lightblue;

}

@media screen and (max-width : 600px) {
    .cont1, .cont2{ width: 90%;}

}



